.videoCard {
    color: white;
    width: 500px;
    height: 400px;
    padding: 20px;
    transition: transform 100ms;
}

.videoCard:hover {
    transform: scale(1.09);
}

.videoCard:hover > .videoCard__stats {
    display: inline;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.videoCard:hover > .videoCard__title > button {
    display: inline;
    background-color: transparent;
    color: white;
    border-radius: 8px;

}

.videoCard > img {
    height: 300px;
    object-fit: contain;
    width: 500px;
}

.videoCard > h2 {
    padding-top: 10px;
}

.videoCard__stats {
    display: none;
}

.videoCard__title > button {
    display: none;
}

.videoCard__title {
    display: flex;
    justify-content: space-between;
}

.videoCard__modal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
